.contact {
  margin: 0;
  &__banner {
    background-image: url("../../images/landing/landing-banner.jpg");
    background-size: cover;
    background-position: center;
    // height: 500px;
  }

  &__banner-text {
    @include header(24px, 32px);
  }

  &__map {
    @include space-out;
    @include flex-center;
  }

  &__mapframe {
    height: 300px;
    width: 200px;

    @include tablet {
      height: 400px;
      width: 600px;
    }

    @include desktop {
      height: 600px;
      width: 1000px;
    }
  }

  &__mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 200px;

    @include tablet {
      height: 400px;
      width: 600px;
    }

    @include desktop {
      height: 600px;
      width: 1000px;
    }
  }

  &__gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 200px;

    @include tablet {
      height: 400px;
      width: 600px;
    }

    @include desktop {
      height: 600px;
      width: 1000px;
    }
  }
}
