@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/Fonts/Roboto/Roboto-Bold.otf");
}

@font-face {
  font-family: "Roboto-Demi";
  src: url("../assets/Fonts/Roboto/Roboto-Medium.otf");
}

@font-face {
  font-family: "OpenSan-Regular";
  src: url("../assets/Fonts/OpenSan/OpenSans-Regular.otf");
}
