body {
@include text(1rem, 1rem);

.jumbotron {
    background-image: url("../../images/landing/landing-banner.jpg");
    background-size: cover;
    h1, p{
        color: white;
    }
}

main {
    @include wrapper;

   .landing {
       &__journies-title {
        @include header(23px, 32px);
        text-align: center;
       }

       &__journey {
           @include space-out;
           @include flex-center-column;
       }

       &__text-header{
           @include header(24px, 32px)
       }

       &__text-subheader{
           @include subheader(14px, 22px)
       }

   

   }

    

}




}
