.container {
  position: relative;
  background: #fff;
  margin-top: 15%;
  height: 400px;
  width: 400px;
  display: flex;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  .tab {
    flex: 1;
    a.btn {
      text-align: center;
      background: $yellow;
      color: #fff;
      display: block;
      padding: 10px;
      text-decoration: none;
      &:hover {
        background: darken($yellow, 10%);
      }
    }
    &:first-child a.btn {
      background: $green;
      &:hover {
        background: darken($green, 10%);
      }
    }
  }
}

#signIn {
  position: absolute;
  width: 100%;
  padding: 20px;
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 10px 0px;

    &[type="submit"] {
      background: $dark-grey;
      border: none;
      outline: none;
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      &:hover {
        background: $dark-grey;
        cursor: pointer;
      }
    }
  }
}

#signUp {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 20px;
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 10px 0px;

    &[type="submit"] {
      background: $dark-grey;
      border: none;
      outline: none;
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      &:hover {
        background: $dark-grey;
        cursor: pointer;
      }
    }
  }
}

.active {
  display: block;
}
.noactive {
  display: none;
}

.forget {
  background: none;
  color: grey;
  text-align: left;
  margin-top: 10px;
  text-decoration: none;
  &:hover {
    color: darken(grey, 80%);
  }
}
