/*
.team {
  margin-top: -100px;
}
*/
.team_jumbotron {
 // margin-top: -100px;
  background-image: url(../images/team1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  h1,
  p {
    color: white;
  }
  @include mobile {
    height: 80vh;
  }

  @include tablet {
    height: 120vh;
  }
  @include desktop {
    height: 150vh;
  }
}



/*
.team_banner {
  position: relative;
  background-image: url(../images/team1.jpg);
  height: 120vh;
  background-size: cover;

  @include mobile {
    height: 80vh;
  }

  @include tablet {
    height: 120vh;
  }
  @include desktop {
    height: 150vh;
  }
}
*/
.team-cover {
  position: absolute;
 // height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  @include mobile {
    height: 80vh;
  }

  @include tablet {
    height: 120vh;
  }
  @include desktop {
    height: 150vh;
  }
}

.team_content {
  //float: none;
  //margin: auto;
  position: absolute;
  text-align: center;
  // justify-content: center;
   align-items: center;

  /*top:30%;
    left:30%;
    transform: translate(-50%, -50%)*/

  //margin: 100px;

  .btn-outline-light {
    padding: 20px;

    margin-top: 80px;

    @include mobile {
      font-size: 10px;
    }

    @include tablet {
      font-size: 20px;
    }

    @include desktop {
      font-size: 30px;
    }
  }
  /*font-size:5rem;*/
  color: white;
  z-index: 2;
  text-align: center;
}

.team_info {
  margin-top: 50px;
  @include mobile {
    margin-top: -30px;
  }
}
.team_title {
  
  @include mobile {
    font-size: 1.5rem;
  }

  @include tablet {
    font-size: 3rem;
  }

  @include desktop {
    font-size: 4.5rem;
  }
}

.info1 {
  padding: 50px;
  @include mobile {
    font-size: 1rem;
    margin-top: -65px;
  }

  @include tablet {
    font-size: 1rem;
    margin-top: 0px;
  }

  @include desktop {
    font-size: 1.6rem;
    margin-top: 0px;
  }
}

.info2 {
  @include desktop {
    font-size: 1rem;
    display: contents;
  }
  @include mobile {
    font-size: 0.5rem;
    display: none;
  }

  @include tablet {
    font-size: 1rem;
    display: contents;
  }
}

.team2 > h2 {
  padding-top: 70px;
  @include mobile {
    font-size: 2rem;
    text-align: center;
  }

  @include tablet {
    font-size: 2.5rem;
    text-align: left;
  }

  @include desktop {
    font-size: 3.5rem;
    text-align: left;
  }
}

main {
  @include wrapper;

  .row {
    //@include flex-center-column;
    @include space-out;
    //padding: 50px;
    //width: 100%;
    //height: 600px;

    .card-img {
      margin-top: 100px;
      width: 400px;
      height: 500px;
      border-radius: 10%;

      @include mobile {
        width: 300px;
        height: 400px;
        align-items: center;
      }

      @include tablet {
        width: 300px;
        height: 350px;
      }

      @include desktop {
        width: 400px;
        height: 500px;
      }
    }

    .card-body {
      //padding-left: 30px;
      margin-top: 20px;
      margin-left: -200px;
      @include mobile {
        margin-left: 0px;
      }

      @include tablet {
        //margin-left: -100px;
      }

      @include desktop {
        // margin-left: -200px;
      }
    }

    .card-title {
      font-family: "Roboto-Demi";
      padding: 20px;
      @include mobile {
        font-size: 1em;
        text-align: center;
      }

      @include tablet {
        font-size: 1.5em;
        text-align: left;
      }

      @include desktop {
        font-size: 2.5em;
        text-align: left;
      }
    }

    .card-text {
      font-family: "OpenSan-Regular";
    }
  }
}

/*
  .exercise1 {
    display: flex;
    padding: 5%;
  
    > img {
      width: 40%;
      margin-right: 4%;
    }
  
    p {
      line-height: 1.4;
      text-align: justify;
    }
  }
  
  .exercise1-grid {
    display: grid;
  }
  
  .exercise2, .exercise3, .exercise4, .exercise5, .exercise6 {
    display: flex;
    padding: 5%;
  
    > img {
      width: 40%;
      margin-right: 4%;
    }
  
    p {
      line-height: 1.4;
      text-align: justify;
    }
  }*/
