// MARGINS //
@mixin offset {
  margin: 0 1rem;
  @include tablet {
    margin: 0 1.5rem;
  }

  @include desktop {
    margin: 0 11.25rem;
  }
}

// FONT MIXINS //
@mixin header($font-size, $line-height) {
  font-family: "Roboto-Bold";
  font-size: $font-size;
  line-height: $line-height;
}
@mixin subheader($font-size, $line-height) {
  font-family: "Roboto-Demi";
  font-size: $font-size;
  line-height: $line-height;
}
@mixin text($font-size, $line-height) {
  font-family: "OpenSan-Regular";
  font-size: $font-size;
  line-height: $line-height;
}

// LAYOUT MIXINS //
@mixin space-out {
  margin: $margins;
  padding: $padding;
}

@mixin wrapper {
  margin: 0 auto;
  width: 80%;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
