.program_jumbotron {
  background-image: url("/images/cropImg/yoga.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .program-title {
    font-family: "roboto-demi";
    font-weight: 300px;
    color: black;
    font-size: 2rem;
    padding-top: 5%;
    margin-inline-start: 5%;
    text-transform: uppercase;

    @include tablet {
      font-size: 3rem;
    }
  }
  height: 700px;
  .program-head-contents {
    font-size: 20px;
    font-weight: 700;
    margin-inline-start: 5%;
    line-height: 110%;
  }
  .btn {
    align-items: center;
    margin-top: 2%;
    margin-left: 5%;
  }
}
.program-card {
  margin-top: 5%;

  .card-body {
    .program-card-title {
      text-align: center;
      margin-top: 2%;
      margin-bottom: 5%;
      text-transform: uppercase;
      font-size: 20px;
      text-justify: auto;

      @include tablet {
        font-size: 50px;
      }
    }
    .card-text {
      text-align: justify;
      font-size: 20px;
      line-height: 130%;
    }
  }

  .btn {
    margin-top: 2%;
  }
}
