.calendar {
  &__wrapper {
    display: flex;
  }
  &__sidebar {
  }
  &__text {
    &--title {
    }
    &--para {
    }
  }

  &__filter-wrapper {
  }
  &__filter-item {
    display: flex;
    flex-direction: column;
  }
  &__filter-btn {
  }
}
