// MEDIA WIDTH //
$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 320px;

// COLOR //
$light-blue: #cfdbd5;
$light-grey: #e8eddf;
$text-grey: #8c908c;
$button-n-background: #cdd4db;
$button-s-background: #f5cb5c;
$arrows-color: #515fb9;
$subtotal: #62929f;
$yellow: #f5cb5c;
$blackish: #242423;
$dark-grey: #333533;
$green: #2d5931;
$hover-button: #f5cb5c;
$hover-input: #f9df9a;
$black: #323232;
$white: #fafafa;
$black-50-opacity: rgba($black, 0.5);

// SPACING //
$padding: 1rem;
$margins: 1rem;

// FONTS //
$h1: 4rem;
$h2: 3rem;
$h3: 2rem;
$h4: 1.75rem;
$h5: 1.5rem;
