// MEDIA WIDTH //
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 320px;

// COLOR //
$light-blue: #cfdbd5;
$light-grey: #e8eddf;
$yellow: #f5cb5c;
$blackish: #242423;
$dark-grey: #333533;
$green: #2d5931;
