*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin: 0 auto;
  max-width: 1024px; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/Fonts/Roboto/Roboto-Bold.otf"); }
@font-face {
  font-family: "Roboto-Demi";
  src: url("../assets/Fonts/Roboto/Roboto-Medium.otf"); }
@font-face {
  font-family: "OpenSan-Regular";
  src: url("../assets/Fonts/OpenSan/OpenSans-Regular.otf"); }
body {
  font-family: "OpenSan-Regular";
  font-size: 1rem;
  line-height: 1rem; }
  body .jumbotron {
    background-image: url("../../images/landing/landing-banner.jpg");
    background-size: cover;
    height: 500px; }
    body .jumbotron h1, body .jumbotron p {
      color: white; }
  body main {
    margin: 0 auto;
    width: 80%; }
    body main .landing__title {
      font-family: "Roboto-Bold";
      font-size: 23px;
      line-height: 32px;
      margin: 1rem;
      padding: 1rem;
      text-align: center; }
      @media (min-width: 1024px) {
        body main .landing__title {
          font-family: "Roboto-Bold";
          font-size: 36px;
          line-height: 44px; } }
    @media (min-width: 768px) {
      body main .landing__journies {
        display: flex;
        justify-content: space-between;
        flex-direction: row; } }
    @media (min-width: 1024px) {
      body main .landing__journies {
        height: 350px; } }
    body main .landing__journey {
      margin: 1rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
    body main .landing__text-header {
      font-family: "Roboto-Bold";
      font-size: 24px;
      line-height: 32px; }
    body main .landing__text-subheader {
      font-family: "Roboto-Demi";
      font-size: 14px;
      line-height: 22px; }
    body main .landing__program {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 1rem;
      padding: 1rem;
      border-bottom: 1px solid gray; }
      body main .landing__program button {
        margin: 1rem;
        padding: 1rem; }
    body main .landing__program-img {
      width: 250px;
      height: 250px;
      border-radius: 10%; }
      @media (min-width: 768px) {
        body main .landing__program-img {
          width: 150px;
          height: 150px; } }
      @media (min-width: 1024px) {
        body main .landing__program-img {
          width: 250px;
          height: 250px; } }
    @media (min-width: 768px) {
      body main .landing__program-row1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row; } }
    @media (min-width: 768px) {
      body main .landing__program-row2 {
        display: flex;
        justify-content: space-between;
        flex-direction: row; } }

h2 {
  margin: 5%;
  font-size: 26px;
  font-family: "Roboto-Bold"; }

.card-item {
  display: grid;
  grid-template-columns: 40% auto 15%;
  grid-template-areas: "left center right";
  justify-content: space-between;
  background-color: #cfdbd5;
  background: linear-gradient(135deg, white 2%, #cfdbd5);
  margin: 2%;
  box-shadow: 2px 2px 2px black; }

.card-info {
  display: flex;
  flex-direction: column;
  justify-items: left; }

.card-functions {
  justify-self: end; }

.card-item-price {
  justify-self: bottom; }

.cart-summary {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 2%; }

/*# sourceMappingURL=main.css.map */
