*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-center, .login {
  margin: 0 auto;
  max-width: 1024px;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/Fonts/Roboto/Roboto-Bold.otf");
}

@font-face {
  font-family: "Roboto-Demi";
  src: url("../assets/Fonts/Roboto/Roboto-Medium.otf");
}

@font-face {
  font-family: "OpenSan-Regular";
  src: url("../assets/Fonts/OpenSan/OpenSans-Regular.otf");
}

.calendar {
  margin: 0 auto;
  width: 80%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  width: 100%;
}

.calendar__sidebar {
  margin-bottom: 1rem;
}

.calendar__text--title {
  margin-bottom: 1rem;
  font-family: "Roboto-Bold";
  font-size: 24px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .calendar__text--title {
    font-family: "Roboto-Bold";
    font-size: 32px;
    line-height: 32px;
  }
}

.calendar__text--subtitle {
  font-family: "Roboto-Demi";
  font-size: 24px;
  line-height: 18px;
}

.calendar__filter-wrapper {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.calendar__filter-item {
  margin-top: 1rem;
}

.calendar__filter-btn {
  color: #fafafa;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: rgba(50, 50, 50, 0.5);
  margin: 0.3rem;
}

body {
  font-family: "OpenSan-Regular";
  font-size: 1rem;
  line-height: 1rem;
}

body .slick-prev:before,
body .slick-next:before {
  color: black;
}

body .jumbotron {
  background-image: url("../../images/landing/landing-banner.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

body .jumbotron h1,
body .jumbotron p {
  color: white;
}

body .landing {
  margin: 0 auto;
  width: 80%;
}

body .landing__title {
  font-family: "Roboto-Bold";
  font-size: 23px;
  line-height: 32px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  body .landing__title {
    font-family: "Roboto-Bold";
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 768px) {
  body .landing__journies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1024px) {
  body .landing__journies {
    height: 350px;
  }
}

body .landing__journey {
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .landing__text-header {
  font-family: "Roboto-Bold";
  font-size: 17px;
  line-height: 32px;
  text-transform: uppercase;
}

body .landing__text-subheader {
  font-family: "Roboto-Demi";
  font-size: 14px;
  line-height: 22px;
}

body .landing__program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

body .landing__program button {
  margin: 1rem;
  padding: 1rem;
}

body .landing__program-img {
  width: 250px;
  height: 250px;
}

@media (min-width: 768px) {
  body .landing__program-img {
    width: 190px;
    height: 190px;
  }
}

@media (min-width: 1024px) {
  body .landing__program-img {
    width: 270px;
    height: 270px;
  }
}

@media (min-width: 768px) {
  body .landing__program-row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  body .landing__program-row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

figure.snip1321 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 250px;
  width: 100%;
  color: #000000;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}

@media (min-width: 768px) {
  figure.snip1321 {
    min-width: 190px;
    max-width: 190px;
  }
}

@media (min-width: 1024px) {
  figure.snip1321 {
    min-width: 270px;
    max-width: 270px;
  }
}

figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

figure.snip1321 img {
  max-width: 100%;
  vertical-align: top;
}

figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

figure.snip1321 p,
figure.snip1321 h4 {
  margin: 0;
}

@media (min-width: 768px) {
  figure.snip1321 p,
  figure.snip1321 h4 {
    font-size: 0.72rem;
  }
}

@media (min-width: 1024px) {
  figure.snip1321 p,
  figure.snip1321 h4 {
    font-size: 1rem;
  }
}

figure.snip1321 h4 {
  font-weight: 400;
  text-transform: uppercase;
}

figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}

figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}

.login {
  position: relative;
  background: #fff;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 400px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .login {
    height: 350px;
    width: 400px;
    margin-top: 30%;
    margin-bottom: 45%;
  }
}

@media (min-width: 1024px) {
  .login {
    height: 350px;
    width: 500px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

.login__tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login__btn {
  text-align: center;
  background: #f5cb5c;
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.login__btn:hover {
  background: #f2bc2c;
}

.login__btn--green {
  background: #2d5931;
}

.login__btn--green:hover {
  background: #1c371e;
}

.login__forget {
  background: none;
  color: grey;
  text-align: left;
  margin-top: 10px;
  text-decoration: none;
}

.login__forget:hover {
  color: black;
}

#signIn {
  position: absolute;
  width: 100%;
  padding: 20px;
}

#signIn input {
  width: 100%;
  padding: 10px;
  margin: 5px 0px 10px 0px;
}

#signIn input[type="submit"] {
  background: #4c4f4c;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

#signIn input[type="submit"]:hover {
  background: #333533;
  cursor: pointer;
}

#signUp {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 20px;
}

#signUp input {
  width: 100%;
  padding: 10px;
  margin: 5px 0px 10px 0px;
}

#signUp input[type="submit"] {
  background: #333533;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

#signUp input[type="submit"]:hover {
  background: #333533;
  cursor: pointer;
}

.active {
  display: block;
}

.noactive {
  display: none;
}

.stick {
  z-index: 99;
}

.cart-main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.cart-h2 {
  margin: 0 auto;
  padding: 5%;
  font-size: 38px;
  font-family: "Roboto-Bold";
  width: 100%;
  background: -webkit-linear-gradient(#333533, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.recommended {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) {
  .recommended {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.recommended #recommended1 {
  background-image: url(../images/landing/program-muaythai.jpg);
}

.recommended #recommended2 {
  background-image: url(../images/landing/program-yoga.jpg);
}

.recommended #recommended3 {
  background-image: url(../images/landing/program-hiit.jpg);
}

.recommended__card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1.25%;
  width: 140px;
  height: 115px;
  position: relative;
  text-align: center;
  vertical-align: text-bottom;
  border: 1px solid #333533;
  border-radius: 5%;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.recommended__card:hover {
  opacity: 0.85;
}

.recommended__title {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  position: absolute;
  bottom: 65%;
  left: 10%;
  text-align: center;
}

.recommended__price {
  color: #e8eddf;
  position: absolute;
  bottom: 30%;
  right: 2%;
  text-shadow: 0.5px 0.5px 0.5px orangered;
}

.recommended .add-cart {
  color: #f5cb5c;
  position: absolute;
  bottom: 2%;
  right: 2%;
  text-align: center;
  text-shadow: 1px 0 0 1px lightyellow;
}

.recommended .add-cart:hover {
  cursor: pointer;
  font-size: 32px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: white;
}

.cart-empty {
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-empty__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1%;
}

@media (min-width: 768px) {
  .cart-empty__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.cart-empty #empty-cart-to-programs {
  background-image: radial-gradient(white, #f5cb5c);
  width: 300px;
  height: 50px;
  border-radius: 4%;
  cursor: pointer;
}

.cart-empty #empty-cart-to-programs:hover {
  background-image: radial-gradient(white, palegreen);
}

.cart-empty #empty-cart-to-team {
  background-image: radial-gradient(white, #f5cb5c);
  width: 300px;
  height: 50px;
  border-radius: 4%;
  cursor: pointer;
}

.cart-empty #empty-cart-to-team:hover {
  background-image: radial-gradient(white, palegreen);
}

.cart {
  width: 100%;
}

.cart-item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto 40%;
      grid-template-columns: 40% auto 40%;
      grid-template-areas: "left center right";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 310px;
  padding-bottom: 10px;
  border: 0.2px solid grey;
  border-radius: 2%;
  background-color: #cfdbd5;
  background: linear-gradient(135deg, white 2%, #cfdbd5);
  margin: 1.25%;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
  overflow: hidden;
}

.cart-item:hover {
  opacity: 90%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.cart-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: left;
  font-size: 12px;
  padding: 8px;
}

.cart-item__image {
  background-position: center;
  background-size: cover;
  opacity: 0.85;
  margin: auto;
  min-width: 70px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: auto;
}

.cart-item__remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart-item__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

.cart-item__amount .fa-times {
  margin-left: 7%;
  margin-right: 7%;
}

.cart-item__remove-button {
  font-family: "OpenSan-Regular";
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  height: 32px;
  text-align: end;
  border-top-right-radius: 2%;
  border: none;
  padding-right: 1rem;
  background-image: radial-gradient(white, #e8eddf);
  cursor: pointer;
}

.cart-item__remove-button:hover {
  background-image: none;
  background-color: #333533;
  color: white;
  -webkit-transition: background-color 0.35s linear;
  transition: background-color 0.35s linear;
  -webkit-transition: color 0.35s linear;
  transition: color 0.35s linear;
}

.cart-item__remove-button i {
  padding-left: 10%;
}

.cart-item__remove-button:hover .far {
  color: red;
  font-size: 16px;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

.cart-item__functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 8px;
}

.cart-item a .fas {
  color: #515fb9;
  border-radius: 100%;
  -webkit-box-shadow: 2px 2px 2px #333533;
          box-shadow: 2px 2px 2px #333533;
  cursor: pointer;
}

.cart-item a:hover .fas {
  color: #f5cb5c;
  background-color: #333533;
  border: inset 0 0 1px #515fb9;
}

.cart-item__price {
  font-family: "Roboto-Demi";
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .cart-item__price {
    font-family: "Roboto-Demi";
    font-size: 18px;
    line-height: 16px;
  }
}

.cart-item__item-total {
  font-family: "Roboto-Demi";
  font-size: 24px;
  line-height: 24px;
  color: #62929f;
  text-align: end;
}

.cart-item__quantity__value {
  font-family: "Roboto-Demi";
  font-size: 14px;
  line-height: 14px;
}

.cart-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2%;
  margin-right: 6%;
}

.cart-summary__item {
  margin-top: 4%;
  color: #8c908c;
  font-size: 22px;
}

.cart-summary__count {
  margin-top: 35%;
}

.cart-summary__count__value {
  color: black;
  font-family: "Roboto-Demi";
  font-size: 24px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .cart-summary__count__value {
    font-family: "Roboto-Demi";
    font-size: 28px;
    line-height: 24px;
  }
}

.cart-summary__subtotal__value {
  color: #62929f;
  font-family: "Roboto-Demi";
  font-size: 24px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .cart-summary__subtotal__value {
    font-family: "Roboto-Demi";
    font-size: 28px;
    line-height: 24px;
  }
}

.cart-summary__checkout-button {
  background-image: radial-gradient(white, #f5cb5c);
  width: 170px;
  height: 50px;
  border-radius: 4%;
  cursor: pointer;
}

.cart-summary__checkout-button:hover {
  background-image: radial-gradient(white, palegreen);
}

.checkout {
  padding-top: 10%;
}

.checkout__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12%;
  width: 82%;
  margin: 0 auto;
  margin-bottom: 15%;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-image: url(/images/cart/checkout-validate-panel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.checkout__login label {
  color: white;
  margin-top: 2%;
  margin-bottom: 0.5%;
}

.checkout__login input {
  margin-bottom: 1%;
  border-radius: 5%;
}

.checkout__login-remember {
  font-size: 14px;
  color: #f5cb5c;
  margin-bottom: 2%;
}

.checkout__buttons {
  width: 100%;
}

.checkout__buttons #login {
  margin-top: 7%;
  background-image: radial-gradient(white, #2d5931);
}

.checkout__buttons #login:hover {
  background-image: radial-gradient(white, palegreen);
}

.checkout__buttons #register {
  background-image: radial-gradient(white, #f5cb5c);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 65px;
}

.checkout__buttons #register:hover {
  background-image: radial-gradient(white, palegreen);
}

.checkout__buttons button {
  width: 100%;
  height: 45px;
  font-weight: bold;
  border: none;
}

.checkout__buttons button:hover {
  cursor: pointer;
}

.checkout .error-message {
  background-image: -webkit-gradient(linear, left top, right top, from(pink), color-stop(darkred), color-stop(darkred), color-stop(darkred), color-stop(darkred), color-stop(darkred), to(pink));
  background-image: linear-gradient(to right, pink, darkred, darkred, darkred, darkred, darkred, pink);
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  -webkit-transform: skew(0.5deg, 1deg);
          transform: skew(0.5deg, 1deg);
}

.checkout__confirm .checkout-confirm__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout__confirm .checkout-confirm__item .checkout-confirm__items-in-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout__confirm .checkout-confirm__item .checkout-confirm__subtotal {
  text-align: center;
}

.checkout__confirm .checkout-confirm__item .checkout-confirm__button {
  margin: 0 auto;
  background-image: radial-gradient(white, #f5cb5c);
  width: 280px;
  height: 50px;
  border-radius: 4%;
  cursor: pointer;
}

.checkout__confirm .checkout-confirm__item .checkout-confirm__button:hover {
  background-image: radial-gradient(white, palegreen);
}

.checkout__confirm div.row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout__complete {
  margin-top: 40%;
  margin-bottom: 40%;
}

.complete-order {
  color: black;
  background-image: radial-gradient(white, #f5cb5c);
  width: 300px;
  height: 50px;
  border-radius: 4%;
  cursor: pointer;
}

.complete-order:hover {
  color: black;
  background-image: radial-gradient(white, palegreen);
}

.contact__banner {
  background-image: url("../../images/contact/contact-banner.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__banner-text {
  font-family: "Roboto-Bold";
  font-size: 60px;
  line-height: 68px;
  color: #fafafa;
  border: 2px solid white;
  text-align: center;
}

.contact__text-header {
  font-family: "Roboto-Bold";
  font-size: 24px;
  line-height: 32px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .contact__text-header {
    font-family: "Roboto-Bold";
    font-size: 36px;
    line-height: 44px;
  }
}

.contact__text-subheader {
  font-family: "Roboto-Demi";
  font-size: 20px;
  line-height: 32px;
}

@media (min-width: 1024px) {
  .contact__text-subheader {
    font-family: "Roboto-Demi";
    font-size: 24px;
    line-height: 34px;
  }
}

@media (min-width: 768px) {
  .contact__details {
    margin: 0 auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .contact__details {
    margin: 0 auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }
}

.contact__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .contact__message {
    margin: 0 auto;
    width: 80%;
  }
}

.contact__map {
  margin: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__mapframe {
  height: 300px;
  width: 320px;
}

@media (min-width: 768px) {
  .contact__mapframe {
    height: 400px;
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .contact__mapframe {
    height: 600px;
    width: 1000px;
  }
}

.contact__mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: 320px;
}

@media (min-width: 768px) {
  .contact__mapouter {
    height: 400px;
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .contact__mapouter {
    height: 600px;
    width: 1000px;
  }
}

.contact__gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 320px;
}

@media (min-width: 768px) {
  .contact__gmap_canvas {
    height: 400px;
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .contact__gmap_canvas {
    height: 600px;
    width: 1000px;
  }
}

.team__jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5))), url(../images/team1.jpg);
  background-image: linear-gradient(rgba(50, 50, 50, 0.5)), url(../images/team1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__jumbotron-header {
  font-family: "Roboto-Bold";
  font-size: 64px;
  line-height: 60px;
  color: #fafafa;
}

.team__jumbotron-text-wrapper {
  margin: 0 auto;
  width: 80%;
  margin: 1rem;
  padding: 1rem;
}

.team__text {
  font-family: "Roboto-Demi";
  font-size: 24px;
  line-height: 24px;
  color: #fafafa;
}

.team-cover {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

@media (min-width: 320px) {
  .team-cover {
    height: 80vh;
  }
}

@media (min-width: 768px) {
  .team-cover {
    height: 120vh;
  }
}

@media (min-width: 1024px) {
  .team-cover {
    height: 150vh;
  }
}

.team_content {
  position: absolute;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 2;
  text-align: center;
}

.team_content .btn-outline-light {
  padding: 20px;
  margin-top: 80px;
}

@media (min-width: 320px) {
  .team_content .btn-outline-light {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .team_content .btn-outline-light {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .team_content .btn-outline-light {
    font-size: 30px;
  }
}

.team_info {
  margin-top: 50px;
}

@media (min-width: 320px) {
  .team_info {
    margin-top: -30px;
  }
}

@media (min-width: 320px) {
  .team_title {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .team_title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .team_title {
    font-size: 4.5rem;
  }
}

.info1 {
  padding: 50px;
}

@media (min-width: 320px) {
  .info1 {
    font-size: 1rem;
    margin-top: -65px;
  }
}

@media (min-width: 768px) {
  .info1 {
    font-size: 1rem;
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .info1 {
    font-size: 1.6rem;
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .info2 {
    font-size: 1rem;
    display: contents;
  }
}

@media (min-width: 320px) {
  .info2 {
    font-size: 0.5rem;
    display: none;
  }
}

@media (min-width: 768px) {
  .info2 {
    font-size: 1rem;
    display: contents;
  }
}

.team2 > h2 {
  padding-top: 70px;
}

@media (min-width: 320px) {
  .team2 > h2 {
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .team2 > h2 {
    font-size: 2.5rem;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .team2 > h2 {
    font-size: 3.5rem;
    text-align: left;
  }
}

.team-wrapper {
  margin: 0 auto;
  width: 80%;
}

.row {
  margin: 1rem;
  padding: 1rem;
}

.row .card-img {
  margin-top: 100px;
  width: 400px;
  height: 500px;
  border-radius: 10%;
}

@media (min-width: 320px) {
  .row .card-img {
    width: 300px;
    height: 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .row .card-img {
    width: 300px;
    height: 350px;
  }
}

@media (min-width: 1024px) {
  .row .card-img {
    width: 400px;
    height: 500px;
  }
}

.row .card-body {
  margin-top: 20px;
  margin-left: -200px;
}

@media (min-width: 320px) {
  .row .card-body {
    margin-left: 0px;
  }
}

.row .card-title {
  font-family: "Roboto-Demi";
  padding: 20px;
}

@media (min-width: 320px) {
  .row .card-title {
    font-size: 1em;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .row .card-title {
    font-size: 1.5em;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .row .card-title {
    font-size: 2.5em;
    text-align: left;
  }
}

.row .card-text {
  font-family: "OpenSan-Regular";
}

.program_jumbotron {
  background-image: url("/images/cropImg/yoga.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
}

.program_jumbotron .program-title {
  font-family: "roboto-demi";
  font-weight: 300px;
  color: black;
  font-size: 2rem;
  padding-top: 5%;
  -webkit-margin-start: 5%;
          margin-inline-start: 5%;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .program_jumbotron .program-title {
    font-size: 3rem;
  }
}

.program_jumbotron .program-head-contents {
  font-size: 20px;
  font-weight: 700;
  -webkit-margin-start: 5%;
          margin-inline-start: 5%;
  line-height: 110%;
}

.program_jumbotron .btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
  margin-left: 5%;
}

.program-card {
  margin-top: 5%;
}

.program-card .card-body .program-card-title {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-size: 20px;
  text-justify: auto;
}

@media (min-width: 768px) {
  .program-card .card-body .program-card-title {
    font-size: 50px;
  }
}

.program-card .card-body .card-text {
  text-align: justify;
  font-size: 20px;
  line-height: 130%;
}

.program-card .btn {
  margin-top: 2%;
}

.footer {
  height: 500px;
  background-color: #e8eddf;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .footer {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  .footer {
    height: 200px;
  }
}

.footer__button {
  margin: 1rem;
  padding: 1rem;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "OpenSan-Regular";
  font-size: 20px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .footer__nav {
    font-family: "OpenSan-Regular";
    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: 1024px) {
  .footer__nav {
    font-family: "OpenSan-Regular";
    font-size: 10px;
    line-height: 10px;
  }
}

@media (min-width: 1024px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__nav a {
  color: black;
}

@media (min-width: 1024px) {
  .footer__nav p {
    margin: 1rem;
    padding: 1rem;
  }
}

.footer__detail {
  margin: 1rem;
  padding: 1rem;
}

.footer__detail-text {
  font-family: "Roboto-Bold";
  font-size: 20px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .footer__detail-text {
    font-family: "Roboto-Bold";
    font-size: 30px;
    line-height: 30px;
  }
}

.footer__detail-icons a {
  color: black;
}
/*# sourceMappingURL=main.css.map */